/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/04/2016, 13:49:47
    Author     : Guilherme Longaray
*/

container {width: 100%;}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
    .conteudo {    
        width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .conteudo {    
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .conteudo {    
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .conteudo {    
        width: 80%;
    }
}

@media (min-width: 1452px) {
    .container {
        max-width: 1360px;
    }
    .conteudo {    
        width: 80%;
    }
}

.conteudo {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;  
    
    padding: 70px 30px 0 30px;
    min-height: 100%;
}

.form-cadastro {    
    width: 80%;
    margin: 0 auto;
    
    border: 1px #ccc dashed;
    
    padding: 15px 50px 15px 50px;
}

input[type="button"] {color: #fff;}

.contorno {
    border: 1px #ccc dashed;
}

.accordion > .frame > .heading {
    text-transform: none !important;
    padding: 3px;
}

.perfil-label {font-weight: bold;}

body {
    /*background-image: url('../../img/background.jpg'); */
}

.app-bar {
    position: fixed !important;
    z-index: 1000 !important;
}

#tabela-amigos-pendentes,
#tabela-amigos {
    width: 100%;
}

.login-form {
    position: static;
    width: 350px;
    height: auto;
    top: 50%;
}

#div-quadra-logar, #div-usuario-logar {
    top: 200px;
    z-index: 1040;
    width: 100%;
    position: absolute;
    margin: 0 auto;  
}

.button{
    width: 100% !important;
}

.accor {
    background-color: #1ba1e2 !important;
    color: #f8f8f8;
}

.opcoes-partida {
    float: right;
    cursor: pointer;
}

select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 0;
    cursor: pointer;
    position: relative;
}